<div class="body-wrapper">
  <header>
    <nav>
      <h1>{{ title }}</h1>
      <ng-container [ngSwitch]="metamaskState">
        <!-- Case 0 | Not Installed -->

        <a *ngSwitchCase="0" class="button">Install MetaMask</a>
        <!-- Case 1 | Not Connected -->
        <button *ngSwitchCase="1" class="button" (click)="connectMetamask()">
          Connect MetaMask
        </button>
        <!-- Case 2 | Connected -->
        <div *ngSwitchCase="2" class="account-id">
          <span>
            {{ getAccountIdShortened() }}
          </span>
          <button class="button">
            <span class="material-symbols-sharp"> content_copy </span>
          </button>
        </div>
      </ng-container>
    </nav>
  </header>

  <main>
    <ng-container [ngSwitch]="metamaskState">
      <!-- Case 0 | Not Installed -->
      <div *ngSwitchCase="0" class="not-connected-messasge">
        You do not have metamask installed.<br />
        Install Metamask to continue.
      </div>
      <!-- Case 1 | Not Connected -->
      <div *ngSwitchCase="1" class="not-connected-messasge">
        You are not connected to MetaMask.
      </div>
      <!-- Case 2 | Connected -->
      <ng-container *ngSwitchCase="2">
        <app-new-contract></app-new-contract>
        <app-get-contract></app-get-contract>
      </ng-container>
    </ng-container>
  </main>

  <footer>
    <div class="wrapper">
      Made with 💖 by <a href="github.com/boystro">Indranil Das</a>
    </div>
  </footer>
</div>
